<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'proyectoapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
     
    <!-- Styles -->
    <link href="{% static 'proyectoapp/css/gestion.css' %}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{% static 'proyectoapp/img/web.png' %}">
</head>

<body>
      <div class="inicioB" id="incioB" > 

      {% if user.is_authenticated %}
        Bienvenido {{ user.username }} &nbsp; &nbsp;<button class="btn btn-primary"> <a href="{% url 'Cerrars' %}" style="color: cyan;">Cerrar sesion</a> </button>

      {% else %}
      <button class="btn btn-primary"><a href="{% url 'Login' %}" style="color: cyan;">Login</a></button> &nbsp; &nbsp; <button class="btn btn-primary"><a href="{% url 'Autenticacion' %}" style="color: cyan;">Registrate</a></button>
        
      {% endif %}
    </div>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Inicio' %}">Gestión de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Inicio' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/Servicios' %} active {% endif %}px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}">Servicios</a>
          </li>
          <li class="nav-item {% if request.path == '/Tienda' %} active {% endif %}px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda' %}">Tienda</a>
         
          </li>   
        </ul>
        <button type="button" class="btn btn-danger" style="color: black; text-align: justify;" >
          <a href="{% url 'Carros' %}" style="color: black;">Carrito</a>
        </button>
      </div>
    </div>
  </nav>
   <!-- cambinate -->
    {%block content %}

    
    {% endblock %}
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
   
        <p class="m-0 mbt1">&copy; Tecnologia 2023</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'proyectoapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyectoapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>