{% extends 'proyectoapp/base.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}

<table class="table table-bordered" style="color: blue;">
    <thead>
        <tr>
            <th colspan="3" class="text-center">carro</th>
        </tr>
        <tr>
            <th>producto</th>
            <th>cantidad</th>
            <th>suma total</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
                <tr class="text-center">
                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm bnt-success">+</a>
                        <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm bnt-success">-</a><br/>
                        $ {{value.precio}} 
                    
                    </td>
                        
                        
                    </td>

                </tr>
            {% endfor %}
        {% else %}      
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        Sin productos
                    </div>
                </td>
            </tr>

        {% endif %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                Total:${{importe_total_carro}}
            </td>
        </tr>
        {% if request.session.carro.items %}
        <tr>
            <td colspan="3" style="text-align: center;">
                
                #<a href="../pedido" class="btn bnt-success">Comprar</a>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AVfXCP_NFTFqD-WaJSE3dgdYE0GzreMD1DgxQlggTLoflImEd-gmahuF0ihdiGZE_wCM7zAze60wZtJO"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
        paypal.Buttons({
          // Order is created on the server and the order id is returned
          createOrder() {
            return fetch("/my-server/create-paypal-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              // use the "body" param to optionally pass additional order information
              // like product skus and quantities
              body: JSON.stringify({
                cart: [
                  {
                    sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                    quantity: "YOUR_PRODUCT_QUANTITY",
                  },
                ],
              }),
            })
            .then((response) => response.json())
            .then((order) => order.id);
          },
          // Finalize the transaction on the server after payer approval
          onApprove(data) {
            return fetch("/my-server/capture-paypal-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                orderID: data.orderID
              })
            })
            .then((response) => response.json())
            .then((orderData) => {
              // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              const transaction = orderData.purchase_units[0].payments.captures[0];
              alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
              // When ready to go live, remove the alert and show a success message within this page. For example:
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  window.location.href = 'thank_you.html';
            });
          }
        }).render('#paypal-button-container');
      </script>

            </td>
        </tr>
        {% endif %}
    </tfoot>

</table>
{% else %}
</br></br></br>
 <div class="alert alert-danger">Debes hacer ingresar para comprar</div> 
{% endif %}

{% endblock %}
